@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');

aside {
  position: absolute;
  width: calc(30vw);
  height: calc(720vh);
  left: 0;
  top: 0;
  background-color: #179E9E;
}

div {
  height: calc(100vh);
  margin-bottom: .5em;
  border-bottom: solid black;
}

#nebula {
  position: fixed;
  width: calc(70vw);
  height: calc(100vh);
  top: 0;
  right: 0;
  background: rgb(181,170,170);
}
aside>div {
  display:flex;
  flex-direction: column;
  justify-content: center;
}
div>p {
  font-size: 1.5em;
  color: white;
  font-family: 'Simonetta', sans-serif;
  padding:1em;
}

a {
  display: block;
  color: rgba(215,236,219);
  text-decoration: none;
  transition: transform .2s;
  font-size: 1.25em;
  font-family: 'Simonetta', sans-serif;
  margin: 0 1em 1em 2em;
  min-width: 30%;
  width: 50%;
}

a:hover{
    transform: scale(1.05)
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.intro {
  transition: transform 1s ease;
  position: absolute;
  height: calc(102vh);
  width: calc(100vw);
  top:-20px;
  background-color: #179E9E;
  z-index: 5;
  border: none;
}

.intro>p {
  font-size: 3em;
  margin: 0 5em 0 5em;
  text-align: center;
}


.contacts>p {
  margin:0;
  padding: 0 0 .5em 1em;
}
a>p{
  font-size: 1em;
}

.intro>.subText {
  font-size: 2em;
  bottom: 5em;
  margin-top: 5em;
}
