#nebula {
  display: inline-block;
  height: 50%;
  width: 50%;
  margin: 0;
}

div {
  color: white;
  /* width: 50%; */
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
}

.name {
  display: inline-block;
  color: red;
  margin: 0;
  padding: 0;

}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
}

p {
  padding-right: 10px;
  color: white;
  font-size: 30px;
}

.button {
  display: inline-block;
  width: 200px;
  margin: auto;
  border: solid 2px white;
  font-size: 20px;
  /* margin: 0;
  padding: 0; */

}

.greeting {
  margin-top: 50%;
  display: inline-block;
  width: 30%;
  text-align: left;
}
.flex{
  display:flex;
  justify-content: space-between;
  height: 50%;
}
