@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');

body {
  overflow-x:hidden;
}
aside {
  position: absolute;
  width: calc(30vw);
  height: calc(610vh);
  left: 0;
  top: 0;
  background-color: #179E9E;
}

div {
  height: calc(100vh);
  margin-bottom: .5em;
}

#nebula {
  position: fixed;
  width: calc(70vw);
  height: calc(100vh);
  top: 0;
  right: 0;
  background: rgb(181,170,170);
}

aside>div {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

div>p {
  font-size: 1.15em;
  color: white;
  font-family: 'Simonetta', sans-serif;
  padding:.5em;
}

.intro>p{
  z-index: 5;
}

a {
  display: block;
  color: rgba(215,236,219);
  text-decoration: none;
  transition: transform .1s;
  font-size: 1.25em;
  font-family: 'Simonetta', sans-serif;
  margin: 0 1em 1em 2em;
  min-width: 30%;
  width: auto;
}

a:hover{
    transform: scale(1.05)
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.intro {
  transition: transform 1s ease;
  position: absolute;
  height: calc(102vh);
  width: calc(100vw);
  top:-20px;
  background-color: #179E9E;
  z-index: 1;
  border: none;
}

.intro>p {
  font-size: 3em;
  margin: 0 5em 0 5em;
  text-align: center;
}


.contacts>p {
  margin:0;
  padding: 0 0 .5em 1em;
}
a>p{
  font-size: 1em;
}

.intro>.subText {
  font-size: 2em;
  bottom: 5em;
  margin-top: 5em;
}

.intro>div {
  transform: rotate(60deg); 
  position: absolute;
  z-index: 4;
  border-radius: 50%;
}

/* Teal lines */

#line1 {
  border-right: .1em solid rgb(19, 221, 137);
  width: calc(.5vw);
  top: calc(10vh);
  left: calc(10vw);
}

#line2 {
  border-right: .2em solid rgb(19, 221, 137);
  width: calc(.3vw);
  top: calc(40vh);
  left: calc(5vw);
}

#line3 {
  border-right: .3em solid rgb(19, 221, 137);
  width: calc(.2vw);
  top: calc(20vh);
  left: calc(20vw);
}

/* Light teal lines */

#line4 {
  border-right: .1em solid rgb(126, 235, 193); 
  width: calc(.5vw);
  top: calc(8vh);
  left: calc(40vw);
}

#line5 {
  border-right: .3em solid rgb(126, 235, 193); 
  width: calc(.5vw);
  top: calc(27vh);
  left: calc(55vw);
}

#line6 {
  border-right: .2em solid rgb(126, 235, 193); 
  width: calc(.5vw);
  top: calc(-30vh);
  left: calc(30vw);
}

/* Dark teal lines */

#line7 {
  border-right: .1em solid rgb(20, 46, 36);   
  width: calc(.4vw);
  top: calc(-50vh);
  left: calc(40vw);
}

#line8 {
  border-right: .3em solid rgb(20, 46, 36);   
  width: calc(.7vw);
  top: calc(.2vh);
  left: calc(20vw);
}

#line9 {
  border-right: .2em solid rgb(20, 46, 36);   
  width: calc(.5vw);
  top: calc(27vh);
  left: calc(90vw);
}

/* mid teal */

#line10 {
  border-right: .1em solid rgb(35, 83, 65);   
  width: calc(.4vw);
  top: calc(-5vh);
  left: calc(60vw);
}

#line11 {
  border-right: .2em solid rgb(35, 83, 65);   
  width: calc(.7vw);
  top: calc(20vh);
  left: calc(36vw);
}

#line12 {
  border-right: .2em solid rgb(35, 83, 65);   
  width: calc(.5vw);
  top: calc(10vh);
  left: calc(90vw);
}

/* another teal */

#line13 {
  border-right: .1em solid rgb(91, 233, 181);   
  width: calc(.4vw);
  top: calc(-30vh);
  left: calc(60vw);
}

#line14 {
  border-right: .2em solid rgb(91, 233, 181);   
  width: calc(.7vw);
  top: calc(-40vh);
  left: calc(90vw);
}

#line15 {
  border-right: .2em solid rgb(91, 233, 181);   
  width: calc(.5vw);
  top: calc(-50vh);
  left: calc(10vw);
}

.contact {
  font-size: 2em;
}